*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: #000;
}
nav{
    color: #fff;
    box-shadow: 0px 10px 10px #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    
    align-items: center;
    text-align: center;
}
nav ul li a{
    padding: 10px 15px;
}
nav ul li a:hover{
    color: white;
    background-color: red;
    transition: background-color 0.4s;
}
.btn{
    padding: 15px 20px;
    background-color: red;
    color: #fff;
    font-weight: bold;
}